@font-face {
  font-family: "Degular";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/fonnts.com-DegularDemo-Bold.otf") format("woff");
}
@font-face {
  font-family: "DegularBold";
  src: url("./assets/fonts/fonnts.com-DegularDemo-Bold.woff2") format("woff2"),
    url("./assets/fonts/fonnts.com-DegularDemo-Bold.woff") format("woff");
}

body {
  font-family: Degular, sans-serif;
  overflow: hidden;
}
